        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/me.png" alt="" width="100" />
                <h1 class="name">Jason Berry</h1>
                <h3 class="tagline">Web Developer</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: jason@jasonpberry.com">jason@jasonpberry.com</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="http://www.linkedin.com/in/jasonpberry/" target="_blank">linkedin.com/in/jasonpberry</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/jasonpberry/" target="_blank">github.com/jasonpberry</a></li>
                </ul>
            </div><!--//contact-container-->
            

            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Web Development / Programming</li>
                    <li>NFL Football (Ravens)</li>
                    <li>MLB Baseball (Orioles)</li>
                    <li>Bowling</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->