<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title><%= title %> - edit</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= title %>">
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body>
    
    <div class="wrapper">
        
        <!--Right Side Bar Include-->
        <% include partials/right-side-bar %>
        
        <div class="main-wrapper">

            <section class="section">
                <h2 class="section-title"><i class="fa fa-list-ul"></i>To Do</h2>

                <p> Keep track of things I am looking to do here. with an edit after a C9 start over.... (test branch) ... </p>


            </section><!--//section-->
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
                <div class="summary">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam vero est cumque mollitia saepe. Temporibus, tenetur, laboriosam voluptatem ab facilis est quia sit voluptates labore odit maiores vel quisquam! Architecto.....
                    </p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>My Career</h2>
                <div class="summary">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam vero est cumque mollitia saepe. Temporibus, tenetur, laboriosam voluptatem ab facilis est quia sit voluptates labore odit maiores vel quisquam! Architecto.                        
                    </p>
                </div><!--//summary-->
            </section><!--//section-->
            



            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Personal Project: Sports Team Manager</h2>


                <!--<div class="intro">-->
                <!--    <p>Things i'm working on.</p>-->
                <!--</div>-->
                
                <!--//intro-->


                <div class="item">
                    <div class="project-title"><a href="/projects/">Team Management</a></span> - <span class="project-tagline">View your roster.  Toggle which player is active, watching, or not able to make it.</div>

                    <div class="alert alert-danger" role="alert">Heads up! - This is work in progress! I have nothing going on here. Initial setup to start developing the app. Tech below will be used.</div>

                    <div class="project-tech-used">

                        <img src="http://www.aha.io/assets/integration_logos/github-bb449e0ffbacbcb7f9c703db85b1cf0b.png" alt="GitHub" title="GitHub">
                        <img src="http://pbs.twimg.com/profile_images/495211744633950209/CvjNepWX.png" alt="Cloud9" title="Cloud9">
                        <img src="http://michaelencode.com/presentations/2015-09-14-heroku/images/heroku-Logo.jpg" alt="Heroku" title="Heroku">
                        <img src="http://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2015/07/1436439824nodejs-logo.png" alt="Node JS" title="Node Js">
                        <img src="http://camo.githubusercontent.com/02ed3f6695f288aedec24c2a329c667281efef5f/687474703a2f2f707265636973696f6e2d736f6674776172652e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031342f30342f6a5175726572792e676966" alt="jQuery" title="jQuery">
                        <img src="http://blog.teamtreehouse.com/wp-content/uploads/2011/03/handlebars.png" alt="Handlebars" title="Handlebars">
                        <img src="http://raw.githubusercontent.com/flatiron/director/master/img/director.png" alt="Director JS" title="Director JS">
                        <img src="http://getbootstrap.com/apple-touch-icon.png" alt="Bootstrap 3" title="Bootstrap 3">
                    </div>
                    
                </div><!--//item-->

            </section><!--//section-->            
            
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <!--<small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>-->
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>            
</body>
</html> 

