extends layout

block content
  h1= title
  p Welcome to #{title} - Using Jade!  - Not for long.  Will switch to PUG! - Throw some bootstrap in here I guess? v2
  p 
  p
  p
  p this is going nowhere w/ Jade.
  
